In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from collections import defaultdict, Counter
from operator import itemgetter
from nltk.tokenize import TweetTokenizer

In [57]:
import json
tweets_data_file = open('/Users/alinamazi/Data/results/April/26-01-1st/aa.json','r')

tweet_data = json.load(tweets_data_file)
len(tweet_data['tweets'])

230

In [58]:
data = map(lambda tweet: tweet["text"].encode('utf-8').lower().replace('\n',' '), tweet_data['tweets'])

In [59]:
data[1]

'@americanair this is what happened. i spent 9 hours at the mco  to catch a 45 mins flight to mia because and not even a bottle of water'

In [60]:
output_file = open('/Users/alinamazi/Data/results/April/26-01-1st/aa.txt','w')
output_file.write("".join("%s\n" % e for e in data))

In [21]:
###############################

In [39]:
def jdefault(o):
    return o.__dict__

In [55]:
import time

json_output = open('/Users/alinamazi/Data/results/April/23-26-5th/aa.json','w')
json_data = {}
tweet_list = []


for t in tweet_data['tweets']:
    ts = time.strftime('%Y-%m-%d', time.strptime(t['created_at'],'%a %b %d %H:%M:%S +0000 %Y'))
    #if (ts.startswith('2017-03')) or (ts.startswith('2017-04-01')): 
    #if (ts.startswith('2017-04-02')) or (ts.startswith('2017-04-03')) or (ts.startswith('2017-04-04')) or (ts.startswith('2017-04-05')) or (ts.startswith('2017-04-06')) or (ts.startswith('2017-04-07')) or (ts.startswith('2017-04-08')): 
    #if (ts.startswith('2017-04-09')) or (ts.startswith('2017-04-10')) or (ts.startswith('2017-04-11')) or (ts.startswith('2017-04-12')) or (ts.startswith('2017-04-13')) or (ts.startswith('2017-04-14')) or (ts.startswith('2017-04-15')): 
    #if (ts.startswith('2017-04-16')) or (ts.startswith('2017-04-17')) or (ts.startswith('2017-04-18')) or (ts.startswith('2017-04-19')) or (ts.startswith('2017-04-20')) or (ts.startswith('2017-04-21')) or (ts.startswith('2017-04-22')): 
    if (ts.startswith('2017-04-23')) or (ts.startswith('2017-04-24')) or (ts.startswith('2017-04-25')) or (ts.startswith('2017-04-26')): 
        tweet_list.append(t)
        print ts

        
json_data['tweets'] = tweet_list
json_data = json.dumps(json_data, default=jdefault)
json_output.writelines(json_data)

json_output.close()

2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-23
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-24
2017-04-25
2017-04-25
2017-04-25
2017-04-25
2017-04-25
2017-04-25
2017-04-25
2017-04-25
2017-04-25
2017-04-25
2017-04-25
2017-04-25
2017-04-25
2017-04-25
2017-04-25
2017-04-25
2017-04-25
2017-04-25
2017-04-25
2017-04-25
2017-04-25
2017-04-25
2017-04-25
2017-04-25
2017-04-25
2017-04-25
2017-04-25
2017-04-25
2017-04-25
2017-04-25
2017-04-26
2017-04-26
2017-04-26
2017-04-26
2017-04-26
2017-04-26
2017-04-26
2017-04-26
2017-04-26

In [43]:
json_data

{}

In [56]:
len(tweet_list)

220